// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.whole {
  width: 800px;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  grid-template:
    "... ...... ...... ...... ..." 50px
    "... header header header ..." auto
    "... ...... ...... ...... ..." 30px
    "... left   ...... right  ..." auto
    "... ...... ...... right  ..." auto
    "... ...... ...... .....  ..." 10px
    /auto 1fr    auto  250px  auto;
}

.calender {
  grid-area: header;
}
.habit-list {
  grid-area: left;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.achieve {
  grid-area: right;
}
input[type="checkbox"]{
  position: relative;
  top: 0px;
  margin-left: -250px;
}

//habit-list内のCSS
.record-title {
  font-weight: bold;
  margin-bottom: 30px;
}
.achieve-form {
  background-color: #FFF;
}
.habit-item {
  margin-left: -250px;  
}
div[data-check="true"] {
  background: #111111;
}
.habit-record {
  width: 100px;
  height: 50px;
  margin-left: 10px;
}

.date-record{
  margin-left: 15px;
  width: 140px;
}

.days {
  font-size: 14px;
}

.today-achieve {
 margin-left: 15px; 
}

.article-index{
  font-weight: bold;
  margin-bottom:30px;
}

.achieve{
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//投稿記事一覧(achieve)のCSS
.my-article {
    margin: 10px 0;
    padding: 1px 10px;
    height: 100px;
    font-size: 15px;
    color: black;
    background-size: cover;
    background-position: center center;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  
    background: -moz-linear-gradient(top, #0ACBE9, #FFF);
    background: -webkit-linear-gradient(top, #0ACBE9, #FFF);
    background: linear-gradient(to bottom, #0ACBE9, #FFF);
}